<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Кліматичні зміни у Дніпрі</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
  </style>
</head>
<body>

  <!-- Панель навігації з кнопками зверху -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Кліматичні зміни у Дніпрі</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Аналіз кліматичних умов</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('tems') }}">Команда проєкту</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('another_page') }}">Головна</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Заголовок сторінки -->
  <header class="bg-primary text-white text-center py-5">
    <div class="container">
      <h1 class="display-4">Кліматичні зміни у місті Дніпро</h1>
      <p class="lead">Аналіз супутникових даних та кліматичних тенденцій</p>
    </div>
  </header>

  <!-- Головний контент -->
  <main class="container my-5">
    <section class="row mb-5">
      <div class="col-lg-6">
        <h2 class="mb-4">Поточна погода у місті Дніпро</h2>
        <div class="bg-white p-4 shadow-sm rounded">
          <p><strong>Температура:</strong> {{ temperature }} °</p>
          <p><strong>Опис погоди:</strong> {{ weather_description }}</p>
          <p><strong>Вологість:</strong> {{ humidity }}%</p>
        </div>
      </div>
      <div class="col-lg-6">
       <!-- Карта або графік -->
        <div class="map-container">
          <!-- Тут додається зображення карти -->
          <img src="{{ url_for('static', filename='Dnipro.png') }}" alt="Карта" class="img-fluid">
        </div>
      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer class="bg-dark text-white text-center py-4">
    <p>&copy; 2024 Дослідження клімату у Дніпрі. Всі права захищено.</p>
  </footer>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
